#
# Rust
#

# Build/compilation files
debug/
target/

# rustfmt backup files
**/*.rs.bk

# Debugging info. for MSVC rustc builds
*.pdb

#
# C/C++
#
*.out

#
# JS 
#
node_modules/

#
# Course-specific
#

# CS1521
cs1521/chicken/testing/*
